#header {
    border-bottom: 1px solid #d8d8d8;
    box-shadow: 0px 0px 3px #CCCCCC;
    z-index: 1000;
    margin: 0;
    padding: 0;
}

#header #nav-profile div {
    width: 30px;
    height: 30px;
}

#column-left {
    width: 235px;
    height: 100%;
    overflow: auto;
    background-color: #242d37;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 51px;
}

#navigation {
    font-size: 13px;
    text-transform: uppercase;
    padding: 22px 15px 15px 15px;
    color: #FFFFFF;
    background: #19222E;
    display: block;
}

#navigation span::before {
    margin-right: 5px;
}

#menu, #menu ul, #menu li {
    padding: 0;
    margin: 0;
    list-style: none;
}

#menu li a {
    font-size: 14px;
    text-decoration: none;
    display: block;
    padding: 10px;
    cursor: pointer;
    border-bottom: 0px solid #515151;
}

#menu > li {
    position: relative;
    border-bottom: 1px solid #2b3642;
}

#menu li li a {
    color: #7f8a9b;
}

#menu li ul a {
    padding-left: 20px;
}

#menu li li ul a {
    padding-left: 40px;
}

#menu > li > a {
    font-size: 14px;
    color: #b3cbdd;
    padding-left: 20px;
    border-bottom: 0px solid #585858;
}

#menu li.active > a {
    color: #0b91d2;
    background-color: #171b21;
}

#menu li li.active > a {
    color: #0b91d2;
    background-color: #242d37;
}

#menu li a:hover {
    background-color: #2b3642;
    color: #ffffff;
}

#menu li a.parent:after {
    font-weight: bold;
    float: right;
    margin-right: 8px;
}

#menu li li a:before {
    font-family: 'Font Awesome 7 Free';
    content: "\f101";
    font-weight: 900;
    font-size: 13px;
    margin-left: 10px;
    margin-right: 10px;
    transition: margin ease 0.5s;
}

#menu li li a:hover:before {
    margin-right: 20px;
}

#menu li a.parent.collapsed:after {
    content: "\f105";
    font-family: "Font Awesome 7 Free";
    font-weight: 900;
    font-size: 12px;
}

#menu li a.parent:not(.collapsed):after {
    content: "\f107";
    font-family: "Font Awesome 7 Free";
    font-weight: 900;
    font-size: 12px;
}

#content {
    left: 0px;
    margin-left: 235px;
    padding-bottom: 40px;
}

#footer {
    height: 100px;
    text-align: center;
    margin-left: 235px;
}
