#container {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 20px);
}

#header {
    border-bottom: 1px solid #d8d8d8;
    box-shadow: 0px 0px 3px #CCCCCC;
    z-index: 1000;
    margin: 0;
    padding: 0;
}

#header #nav-profile div {
    width: 30px;
    height: 30px;
}

#column-left {
    width: 235px;
    height: 100%;
    overflow: auto;
    background-color: #242d37;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 51px;
}

#navigation {
    font-size: 13px;
    text-transform: uppercase;
    padding: 22px 15px 15px 15px;
    color: #FFFFFF;
    background: #19222E;
    display: block;
}

#navigation span::before {
    margin-right: 5px;
}

#menu, #menu ul, #menu li {
    padding: 0;
    margin: 0;
    list-style: none;
}

#menu li a {
    font-size: 14px;
    text-decoration: none;
    display: block;
    padding: 10px;
    cursor: pointer;
    border-bottom: 0px solid #515151;
}

#menu > li {
    position: relative;
    border-bottom: 1px solid #2b3642;
}

#menu li li a {
    color: #7f8a9b;
}

#menu li ul a {
    padding-left: 20px;
}

#menu li li ul a {
    padding-left: 40px;
}

#menu > li > a {
    font-size: 14px;
    color: #b3cbdd;
    padding-left: 20px;
    border-bottom: 0px solid #585858;
}

#menu li.active > a {
    color: #0b91d2;
    background-color: #171b21;
}

#menu li li.active > a {
    color: #0b91d2;
    background-color: #242d37;
}

#menu li a:hover {
    background-color: #2b3642;
    color: #ffffff;
}

#menu li a.parent:after {
    font-weight: bold;
    float: right;
    margin-right: 8px;
}

#menu li li a:before {
    font-family: 'Font Awesome 7 Free';
    content: "\f101";
    font-weight: 900;
    font-size: 13px;
    margin-left: 10px;
    margin-right: 10px;
    transition: margin ease 0.5s;
}

#menu li li a:hover:before {
    margin-right: 20px;
}

#menu li a.parent.collapsed:after {
    content: "\f105";
    font-family: "Font Awesome 7 Free";
    font-weight: 900;
    font-size: 12px;
}

#menu li a.parent:not(.collapsed):after {
    content: "\f107";
    font-family: "Font Awesome 7 Free";
    font-weight: 900;
    font-size: 12px;
}

#content {
    left: 0px;
    margin-left: 235px;
    flex: 1
}

#footer {
    height: 20px;
    text-align: center;
    margin-left: 235px;
    margin-top: auto;
}

.page-header {
    margin: 20px 0 15px 0;
    padding: 0;
    padding-bottom: 5px;
    border-bottom: 1px solid #e9e9e9;
}

.page-header h1 {
    font-weight: 400;
    font-size: 30px;
    color: #4c4d5a;
    margin-bottom: 15px;
    text-shadow: 0 1px #fff;
}

.breadcrumb a {
    text-decoration: none;
    color: #999999;
}

.breadcrumb-item {
    display: flex;
    align-items: flex-end;
}


.breadcrumb-item:last-child a {
    color: #1e91cf;
}

.breadcrumb-item + .breadcrumb-item::before {
    content: "\f054";
    font-family: "Font Awesome 7 Free";
    font-weight: 900;
    font-size: 11px;
    margin: 3px 5px;
    color: #999999;
}

.col-form-label {
    text-align: right;
}

div.required .col-form-label:not(span):before,
div.required .form-label:before,
td.required:before {
    content: '* ';
    color: #F00;
    font-weight: bold;
}

.form-switch-lg {
    font-size: 26px;
    min-height: 36px;
    line-height: 36px;
}

.btn-group.actions {
    gap: 3px;
}

.image-upload-field {
    background-color: #fbfbfb;
}

.image-upload-preview {
    width: 160px;
    min-height: 160px;
    max-height: 200px;
    overflow: hidden;
}

.image-upload-preview img {
    max-width: 100%;
    height: auto;
    display: block;
}

table tr {
    vertical-align: middle;
}

.nav-tabs {
    margin-bottom: 25px;
}

.nav-tabs > li > a {
    color: #a5a5a5;
}

.form-label, .col-form-label {
    font-weight: bold;
}

p {
    margin-bottom: 0;
}
